@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
.active {
  color: purple;
  font-weight: 600;
}

/* navbar tooltip */
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  width: 120px;
  color: white;
  font-size: 12px;
  background-color: #192733;
  border-radius: 10px;
  padding: 10px 15px;
}
.hover-text:hover .tooltip-text {
  visibility: visible;
}
#left {
  top: -8px;
  left: 120%;
}
.hover-text {
  position: relative;
}

/* banner */
.banner{
  background-image: url(https://i.ibb.co/w0VFhpj/i-Stock-936032434.jpg);
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


hr {
  border: 2px solid black;
  opacity: 50%;
}

/* Banner Text Annimation */
.text{
	font-family: 'arial black';
	/* font-size: 50px; */
	text-align: center;
	padding: 0;
	margin: 0;
	margin-left: 50%;
	transform: translateX(-200%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
}

@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}
/* Review */
.cards {
  background-color: rgba(243, 244, 246, 1);
  padding: 2rem;
  max-width: 320px;
  border-radius: 10px;
  box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
}

.header {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
}

.header .image {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
}

.stars {
  display: flex;
  justify-content: center;
  grid-gap: 0.125rem;
  gap: 0.125rem;
  color: rgba(34, 197, 94, 1);
}

.stars svg {
  height: 1rem;
  width: 1rem;
}

.name {
  margin-top: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, 1);
}

.message {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-top: 1rem;
  color: rgba(107, 114, 128, 1);
}

/* ================== */
